{% extends 'base.html.twig' %}

{% block title "Inscription" %}

{% block body %}
  <h1 class="display-4 text-center mb-5 shadow p-3 mb-5 bg-white rounded">
    Inscription
  </h1>
  <div class="container shadow p-3 mb-5 bg-white rounded col-sm-6 col-sm-push-3">
    {{ form_start(formRegister) }}
    {{ form_rest(formRegister) }}
    <button type="submit" class="btn btn-success">
      <i class="material-icons">add_box</i>
      S'inscrire
    </button>
  </div>
  {{ form_end(formRegister) }}
{% endblock %}
