{% extends 'base.html.twig' %}
{% form_theme formEvent 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title 'Créer un événement' %}

{% block body %}
  <h1 class="display-4 text-center mb-5 shadow p-3 mb-5 bg-white rounded">
    {% if editEvent %}
      Edition
    {% else %}
      Création Evénement
    {% endif %}
  </h1>
  <div class="container shadow p-3 mb-5 bg-white rounded col-sm-6 col-sm-push-3">
    {{ form_start(formEvent) }}
    {{ form_widget(formEvent) }}
    <button class="btn btn-success">
    	{% if editEvent %}
      <i class="material-icons">add_box</i>
		Editer
		{% else %}
			<i class="material-icons">add_box</i>
		  Ajouter l'événement
		{% endif %}
    </button>
  </div>
  {{ form_end(formEvent) }}
{% endblock %}
